<footer class="whatisthis" id="basic-info">
  <!-- Commented to easily use just the footer as homepage <hr /> -->
  <div class="wrapper" style="font-size:0.9em; line-height:1.05em;">
  <div class="row">
    <div class="column small-12 medium-5">
      <h3>About</h3>
        <span>
        <figure class="image-left" style="margin:0 0.5em 0.2em 0">
  	     <img class="avatar" src="/img/
         {{- if $.Site.Params.avatar -}}
           {{ $.Site.Params.avatar -}}
         {{- else -}}
           avatar.jpg
         {{- end -}}" alt="Portrait of the author"/>
        </figure>
        </span>
        <span>
        {{ partial "site_templates/about_me.html" -}}
        </span>
    </div>
    <div class="show-for-small-only"><hr style="padding-top:10px;"/></div>
    <div class="column small-12 medium-4">
      <h3 id="contact">Contact</h3>
      <ul class="fa-ul">
  <li><i class="fa-li {{partial "fa_icon" (dict "Site" $.Site "weight" "s" "icon" "university")}}" style="padding-top:3px;"></i>
  {{- range $.Site.Params.address }}
    {{ . | safeHTML -}}
  {{ end }}
  </li>
	{{ range sort $.Site.Params.social "priority" -}}
	<li>
  {{- if .icon -}}
  <i class="{{- .icon_pack -}}-li {{ .icon_pack }}{{ .icon_weight }} {{ .icon_pack }}-{{ .icon -}}" style="padding-top:3px;"></i>
  {{- end -}}
  {{- if .site -}}{{.site}} {{ end -}}
  {{- if .link -}}
  <a href="{{ .link }}">{{ .text }}</a>
  {{- else -}}
  {{- .text -}}
  {{- end -}}
  {{ if .on_site }} on {{ .on_site }}{{ end -}}
  </li>
	{{ end -}}
      </ul>
    </div>
    <div class="show-for-small-only"><hr style="padding-top:10px;"/></div>
    <div class="column small-12 medium-3">
      <h3>Subscribe</h3>
      <p>To receive updates, you can subscribe to
	the <a href="/index.xml"><i class="{{partial "fa_icon" (dict "Site" $.Site "weight" "s" "icon" "rss-square")}}"></i>&nbsp;RSS feed</a> of all
	updates to the site in an RSS feed reader.
      </p>
      <h3>Search</h3>
<!--
<script>
  (function() {
    var cx = '009716382101299651929:iafxtlak9m4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
-->
<iframe src="https://duckduckgo.com/search.html?site=jonathangilligan.org&prefill=Search DuckDuckGo&kn=1" style="overflow:hidden;margin:0;padding:0;width:300px;height:60px;" frameborder="0"></iframe>
</div>
  </div>
  </div>
</footer>
