{{ define "main" }}
{{- $front_page_img := index .Site.Params "front_page_img" | default "avatar.jpg" -}}
{{- $posts_title := index .Site.Params "posts_title" | default "Posts" -}}
{{- $posts_count := index .Site.Params "posts_count" | default 2 -}}
{{- $pubs_title  := index .Site.Params "pubs_title"  | default "Publications" -}}
{{- $pubs_count  := index .Site.Params "pubs_count"  | default 3 -}}
{{- $teach_title := index .Site.Params "teach_title" | default "Teaching" -}}
{{- $teach_count := index .Site.Params "teach_count" | default 3 -}}
{{- $news_title  := index .Site.Params "news_title"  | default "News Coverage" -}}
{{- $news_count  := index .Site.Params "news_count"  | default 3 -}}
{{- $post_title  := index .Site.Params "post_title"  | default "Blog Posts" -}}
{{- $post_count  := index .Site.Params "post_count"  | default 3 -}}
{{- $news_post_count := index .Site.Params "news_post_count" | default 3}}
{{- $news_current_months := index .Site.Params "news_current_months" | default 2 }}
{{- if le $news_count 0 -}}
  {{- $.Scratch.Set "news_count" 0 -}}
{{- else -}}
  {{- $.Scratch.Set "news_items" (where (where (where $.Site.Pages.ByDate "Section" "news") "Params.publication" "!=" nil).Reverse ".Date.Unix" "ge" (sub now.Unix (mul $news_current_months 2592000))).ByWeight -}}
  {{- if gt (len ($.Scratch.Get "news_items")) 0 -}}
    {{- $.Scratch.Set "news_items" (first $news_count ($.Scratch.Get "news_items")) -}}
    {{- $.Scratch.Set "news_current_count" (len ($.Scratch.Get "news_items")) -}}
  {{- else -}}
    {{- $.Scratch.Set "news_items" nil -}}
    {{- $.Scratch.Set "news_current_count" 0 -}}
  {{- end -}}
{{- end -}}
{{- $news_current_count := ($.Scratch.Get "news_current_count") -}}
{{- if and (gt $news_current_count 0) (gt $post_count 0) -}}
  {{- $.Scratch.Set "news_post_title" (delimit (slice $post_title "and" $news_title) " ") -}}
{{- else -}}
  {{- if gt $news_current_count 0 -}}
     {{- $.Scratch.Set "news_post_title" $news_title -}}
  {{- else -}}
     {{- $.Scratch.Set "news_post_title" $post_title -}}
  {{- end -}}
{{- end -}}
{{- $news_post_title := $.Scratch.Get "news_post_title" -}}
{{- if or (gt $news_current_count 0) (gt $post_count 0) -}}
  {{- $.Scratch.Set "pub_teach_col_class" "small-12 medium-5 large-6" -}}
{{- else -}}
  {{- $.Scratch.Set "pub_teach_col_class" "small-12 medium-6" -}}
{{- end -}}
{{- $pub_teach_col_class := ($.Scratch.Get "pub_teach_col_class") -}}
<div class="row" id="whats-new">
{{- if or (gt $news_current_count 0) (gt $post_count 0) -}}
    <div class="show-for-small-only"></div>
  {{- else -}}
  <div class="column small-12 medium-7 large-5">
  <img src="img/{{ $front_page_img }}"/>
  </div>
  {{- end -}}

</div>
{{ end }}
{{ define "pagescripts" }}
    <script type="text/javascript" >
    function arrange_rows(event, newSize, oldSize) {
      var whats_new = $("#whats-new");
      var basic_info = $("#basic-info");
      if (!Foundation.MediaQuery.atLeast("medium")) {
        rowx = whats_new.detach();
        rowx.insertAfter(basic_info);
      } else {
        rowx = basic_info.detach();
        rowx.insertAfter(whats_new);
      }
    };

    arrange_rows();

    $(window).on('changed.zf.mediaquery', arrange_rows);
    </script>
{{ end }}
