<p>I&nbsp;am&nbsp;a robotics and software engineer. I currently work in the 
<a href="https://www.iit.it/research/lines/icub">iCub Tech Facility</a> at the <a href="https://www.iit.it">Italian Institute of Technology</a>, 
where I collaborate with the <a href="https://dic.iit.it">Dynamic Interaction Control</a> group and where I coordinate the <a href="https://dic.iit.it/joint-labs/danieli-automation">joint lab</a> between the <a href="https://www.iit.it">Italian Institute of Technology</a> and 
<a href="http://www.dca.it/">Danieli Automation</a>.</p>

