<p>
My field of research is the in <b>estimation</b>, <b>control</b> and <b>motion planning</b> of robots, in particular
force-controlled humanoids. In my work I tackle the scientific 
and technological challenges that prevent robots to
physically interact naturally with the surrounding environment and with humans.
</p>

<p>
Since 2013 I was deeply involved with the development and maintenance of the <a href="http://icub.org/">iCub</a> humanoid robot, 
gaining a multidisciplinary experience by interacting with fields such as <b>mechanical engineering</b>, 
 <b>embedded programming</b> and <b>machine learning</b>. 
 </p>

<p>
I mantain several open source tools used in my work at the IIT, including the robot dynamics C++ library
<a href="https://github.com/robotology/idyntree">iDynTree</a>, the set of plugins for the <a href="http://gazebosim.org/">Gazebo simulator</a> 
<a href="https://github.com/robotology/gazebo-yarp-plugins">gazebo-yarp-plugins</a>
and the <a href="https://cmake.org/">CMake</a>-based distribution of IIT software <a href="https://github.com/robotology/robotology-superbuild">robotology-superbuild</a>.
</p>
